{% extends "geonode-mapstore-client/snippets/custom_theme.html" %}
{% block content %}
    {{block.super}}
    <style>
        /* copy this style in the "Custom CSS rules" field of the theme page to apply these new variables */
        :root {
        --tag-color: #397AAB;
        }
        :root {
        --ms-font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        --ms-font-family-serif: Georgia, 'Times New Roman', Times, serif;
        --ms-font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
        --ms-font-family-base: Montserrat, sans-serif;
        --ms-main-bg: #ffffff;
        --ms-mask-bg: rgba(255, 255, 255, 0.5);
        --ms-main-color: #06538e;
        --ms-main-border-color: #d1d1d1;
        --ms-main-variant-color: #0f0f0f;
        --ms-main-variant-bg: #d6d6d6;
        --ms-main-hover-color: #000000;
        --ms-main-hover-bg: #eeeeee;
        --ms-code-color: #c7254e;
        --ms-focus-color: #6298fa;
        --ms-selected-color: #0075ff;
        --ms-selected-bg: rgba(98, 152, 250, 0.4);
        --ms-selected-hover-bg: rgba(98, 152, 250, 0.1);
        --ms-footer-color: #de0202;
        --ms-footer-bg: #397aab;
        --ms-footer-link-color: #ffffff;
        --ms-footer-link-hover-color: #1b4d74;
        --ms-placeholder-color: #cac9c9;
        --ms-placeholder-bg: #dddddd;
        --ms-disabled-color: #acacac;
        --ms-disabled-bg: #fcfcfc;
        --ms-link-color: #397AAB;
        --ms-link-hover-color: #1b4d74;
        --ms-image-color: #dddddd;
        --ms-image-bg: #f2f2f2;
        --ms-primary: #397aab;
        --ms-primary-contrast: #ffffff;
        --ms-info: #275a7f;
        --ms-info-contrast: #ffffff;
        --ms-success: #58cf80;
        --ms-success-contrast: #ffffff;
        --ms-warning: #ebbc35;
        --ms-warning-contrast: #ffffff;
        --ms-danger: #bb4940;
        --ms-danger-contrast: #ffffff;
        --ms-loader-color: #06538e;
        --ms-loader-fade-color: rgba(6, 83, 142, 0.2);
        --ms-loader-primary-color: #397aab;
        --ms-loader-primary-fade-color: rgba(57, 122, 171, 0.2);
        --ms-loader-primary-contrast-color: #ffffff;
        --ms-loader-primary-contrast-fade-color: rgba(255, 255, 255, 0.2);
        --ms-badge-color: #000000;
        --ms-badge-bg: #D5D5D5;
        --ms-jumbotron-color: #ffffff;
        --ms-jumbotron-bg: #397aab;
        --ms-timeline-selected-bg: rgba(57, 122, 171, 0.05);
        --ms-timeline-histogram-bg: rgba(57, 122, 171, 0.5);
        --ms-timeline-histogram-color: #2c5f85;
        --ms-timeline-range-bg: rgba(6, 83, 142, 0.2);
        --ms-timeline-playback-range-bg: rgba(128, 218, 158, 0.2);
        --ms-button-color: #06538e;
        --ms-button-bg: #ffffff;
        --ms-button-border-color: #d1d1d1;
        --ms-button-focus-color: #06538e;
        --ms-button-focus-bg: #ffffff;
        --ms-button-focus-border-color: #d1d1d1;
        --ms-button-hover-color: #0870bf;
        --ms-button-hover-bg: #e6e6e6;
        --ms-button-hover-border-color: #d1d1d1;
        --ms-button-active-color: #0870bf;
        --ms-button-active-bg: #e6e6e6;
        --ms-button-active-border-color: #d1d1d1;
        --ms-button-active-hover-color: #0870bf;
        --ms-button-active-hover-bg: #d4d4d4;
        --ms-button-active-hover-border-color: #d1d1d1;
        --ms-button-disabled-color: #acacac;
        --ms-button-disabled-bg: #fcfcfc;
        --ms-button-disabled-border-color: #fcfcfc;
        --ms-button-badge-color: #06538e;
        --ms-button-badge-bg: #ffffff;
        --ms-button-primary-color: #ffffff;
        --ms-button-primary-bg: #397aab;
        --ms-button-primary-border-color: #346f9c;
        --ms-button-primary-focus-color: #ffffff;
        --ms-button-primary-focus-bg: #397aab;
        --ms-button-primary-focus-border-color: #346f9c;
        --ms-button-primary-hover-color: #ffffff;
        --ms-button-primary-hover-bg: #2c5f85;
        --ms-button-primary-hover-border-color: #2a597d;
        --ms-button-primary-active-color: #ffffff;
        --ms-button-primary-active-bg: #2c5f85;
        --ms-button-primary-active-border-color: #2a597d;
        --ms-button-primary-active-hover-color: #ffffff;
        --ms-button-primary-active-hover-bg: #234c6a;
        --ms-button-primary-active-hover-border-color: #19364b;
        --ms-button-primary-disabled-color: #acacac;
        --ms-button-primary-disabled-bg: #fcfcfc;
        --ms-button-primary-disabled-border-color: #fcfcfc;
        --ms-button-primary-badge-color: #397aab;
        --ms-button-primary-badge-bg: #ffffff;
        --ms-button-info-color: #ffffff;
        --ms-button-info-bg: #275a7f;
        --ms-button-info-border-color: #224f6f;
        --ms-button-info-focus-color: #ffffff;
        --ms-button-info-focus-bg: #275a7f;
        --ms-button-info-focus-border-color: #224f6f;
        --ms-button-info-hover-color: #ffffff;
        --ms-button-info-hover-bg: #1b3e58;
        --ms-button-info-hover-border-color: #193950;
        --ms-button-info-active-color: #ffffff;
        --ms-button-info-active-bg: #1b3e58;
        --ms-button-info-active-border-color: #193950;
        --ms-button-info-active-hover-color: #ffffff;
        --ms-button-info-active-hover-bg: #132b3d;
        --ms-button-info-active-hover-border-color: #09151d;
        --ms-button-info-disabled-color: #acacac;
        --ms-button-info-disabled-bg: #fcfcfc;
        --ms-button-info-disabled-border-color: #fcfcfc;
        --ms-button-info-badge-color: #275a7f;
        --ms-button-info-badge-bg: #ffffff;
        --ms-button-success-color: #ffffff;
        --ms-button-success-bg: #58cf80;
        --ms-button-success-border-color: #39c568;
        --ms-button-success-focus-color: #ffffff;
        --ms-button-success-focus-bg: #58cf80;
        --ms-button-success-focus-border-color: #39c568;
        --ms-button-success-hover-color: #ffffff;
        --ms-button-success-hover-bg: #36be64;
        --ms-button-success-hover-border-color: #34b660;
        --ms-button-success-active-color: #ffffff;
        --ms-button-success-active-bg: #36be64;
        --ms-button-success-active-border-color: #34b660;
        --ms-button-success-active-hover-color: #ffffff;
        --ms-button-success-active-hover-bg: #2fa255;
        --ms-button-success-active-hover-border-color: #258245;
        --ms-button-success-disabled-color: #acacac;
        --ms-button-success-disabled-bg: #fcfcfc;
        --ms-button-success-disabled-border-color: #fcfcfc;
        --ms-button-success-badge-color: #58cf80;
        --ms-button-success-badge-bg: #ffffff;
        --ms-button-warning-color: #ffffff;
        --ms-button-warning-bg: #ebbc35;
        --ms-button-warning-border-color: #e9b622;
        --ms-button-warning-focus-color: #ffffff;
        --ms-button-warning-focus-bg: #ebbc35;
        --ms-button-warning-focus-border-color: #e9b622;
        --ms-button-warning-hover-color: #ffffff;
        --ms-button-warning-hover-bg: #d8a515;
        --ms-button-warning-hover-border-color: #ce9e14;
        --ms-button-warning-active-color: #ffffff;
        --ms-button-warning-active-bg: #d8a515;
        --ms-button-warning-active-border-color: #ce9e14;
        --ms-button-warning-active-hover-color: #ffffff;
        --ms-button-warning-active-hover-bg: #b78d12;
        --ms-button-warning-active-hover-border-color: #92700e;
        --ms-button-warning-disabled-color: #acacac;
        --ms-button-warning-disabled-bg: #fcfcfc;
        --ms-button-warning-disabled-border-color: #fcfcfc;
        --ms-button-warning-badge-color: #ebbc35;
        --ms-button-warning-badge-bg: #ffffff;
        --ms-button-danger-color: #ffffff;
        --ms-button-danger-bg: #bb4940;
        --ms-button-danger-border-color: #ac433b;
        --ms-button-danger-focus-color: #ffffff;
        --ms-button-danger-focus-bg: #bb4940;
        --ms-button-danger-focus-border-color: #ac433b;
        --ms-button-danger-hover-color: #ffffff;
        --ms-button-danger-hover-bg: #953a33;
        --ms-button-danger-hover-border-color: #8d3730;
        --ms-button-danger-active-color: #ffffff;
        --ms-button-danger-active-bg: #953a33;
        --ms-button-danger-active-border-color: #8d3730;
        --ms-button-danger-active-hover-color: #ffffff;
        --ms-button-danger-active-hover-bg: #7a302a;
        --ms-button-danger-active-hover-border-color: #5c241f;
        --ms-button-danger-disabled-color: #acacac;
        --ms-button-danger-disabled-bg: #fcfcfc;
        --ms-button-danger-disabled-border-color: #fcfcfc;
        --ms-button-danger-badge-color: #bb4940;
        --ms-button-danger-badge-bg: #ffffff;
        --ms-button-tray-color: #0870bf;
        --ms-button-tray-bg: #ffffff;
        --ms-button-tray-border-color: #3c7fb3;
        --ms-button-tray-focus-color: #0870bf;
        --ms-button-tray-focus-bg: #e6e6e6;
        --ms-button-tray-focus-border-color: #265172;
        --ms-button-tray-hover-color: #0870bf;
        --ms-button-tray-hover-bg: #e6e6e6;
        --ms-button-tray-hover-border-color: #3675a3;
        --ms-button-tray-active-color: #0870bf;
        --ms-button-tray-active-bg: #e6e6e6;
        --ms-button-tray-active-border-color: #3675a3;
        --ms-button-tray-active-hover-color: #0870bf;
        --ms-button-tray-active-hover-bg: #d4d4d4;
        --ms-button-tray-active-hover-border-color: #265172;
        --ms-button-tray-disabled-color: #acacac;
        --ms-button-tray-disabled-bg: #fcfcfc;
        --ms-button-tray-disabled-border-color: #fcfcfc;
        --ms-button-tray-badge-color: #ffffff;
        --ms-button-tray-badge-bg: #0870bf;
        }

    </style>
{% endblock %}